body {
  background-image: url(../img/FactoryMaintenance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-size: 1.2em;
  color: white;
  background-attachment: fixed;
  height: 100vh;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 100px;
  margin: auto;
  margin-top: 5px;
  margin-left: 25px;
  text-shadow: 0px 2px 2px black;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin-bottom: 2px;
}

.container {
  background-color: rgba(0, 0, 0, 0.499);
  height: 300px;
  max-height: 350px;
  width: 350px;
  margin: 50px 0 0 300px;
  margin-left: 300px;
  border-radius: 25px;
  text-align: center;
  overflow: auto;
}

.navigation {
  margin: auto;
  margin: 75px 0 0 25px;
  width: 100px;
  position: fixed;
}

@media (max-width: 768px) {
  .container {
    margin: 75px 0 0 100px;
  }
}

.form-control
{
  text-align: center;
}

.btn {
  width: 325px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.new {
  margin: auto;
  font-size: 40px;
}

.zero {
  color: rgba(246, 78, 78, 0.864);
}