@{
  Layout = "_Layout";
}

<h2>Add a Machine</h2>
<hr/>

@model Factory.Models.Machine

  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Name, new { placeholder= "Name of Machine" })
    <br />
    <br />
    <input type="submit" value="Add Machine" class="btn btn-primary" />
  }
</div>
<br />
<hr/>

  <p>@Html.ActionLink("Back to Machines", "Index")</p>