@{
  Layout = "_Layout";
}

<h2>Add a Machine</h2>
<hr/>

@model Factory.Models.Machine

  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Name, new { placeholder= "Name of Machine" })
    <br />
    <br />
    <input type="submit" value="Add Machine" class="btn btn-primary" />
  }

<p class="new"><a href='/machines/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>
