@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

  <h2>Delete
  <br /> 
  @Model.Name?
  </h2>
  <hr/>
  @using(Html.BeginForm())
  {
    <input type="submit" value="Delete" class="btn btn-outline-danger" />
  }

<hr />
<p class="new"><a href='/machines/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>
