@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
@using Factory.Models;

<h3 class="name">@Html.DisplayFor(selectedMachine => selectedMachine.Name)</h3>
<hr/>
<p><strong>Licensed Engineers</strong></p>

@if (Model.JoinEntities.Count == 0)
{
  <p class="zero">* No Licensed Engineers available.</p>
}
else
{
  @foreach (MachineEngineer registered in Model.JoinEntities)
  {
    @using (Html.BeginForm("DeleteJoin", "Engineers"))
    {
    @Html.Hidden("joinId", @registered.MachineEngineerId)
    <p class="indent">
      &rarr;  @Html.ActionLink($"{registered.Engineer.Name}", "Details", "Machines", new { id = registered.MachineId})    
      <input type="submit" value="X" class="btn btn-outline-danger btn-sm"/>
    </p>
    }
  }
}

<p class="new"><a href='/machines/register/@Model.MachineId'>Register <span class="material-symbols-outlined">how_to_reg</span></a></p>
<p class="new"><a href='/machines/edit/@Model.MachineId'>Edit <span class="material-symbols-outlined">edit</span></a></p>
<p class="new"><a href='/machines/delete/@Model.MachineId'>Delete <span class="material-symbols-outlined">delete_forever</span></a></p>
<p class="new"><a href='/machines/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>
