@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<br />
<h3>Edit @Model.Name?</h3>
<br />
@using (Html.BeginForm())
{
  @Html.HiddenFor(selectedMachine => selectedMachine.MachineId)
  @Html.EditorFor(selectedMachine => selectedMachine.Name, new { htmlAttributes = new { @class = "form-control" } })
  <input type="submit" value="Save Changes" class="btn btn-outline-success" />
}
<hr />
<p class="new"><a href='/machines/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>