@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Register</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("-- Select Engineer --")
  <br />
  @Html.DropDownList("EngineerId", null, new { @class = "form-control", required = "required" })
  <br />
  <input type="submit" value="Register" class="btn btn-outline-success" />
}

<p class="new"><a href='/machines/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>
