@{
  Layout = "_Layout";
}

<h2>New Engineer</h2>
<hr/>

@model Factory.Models.Engineer

  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Name, new { placeholder= "Name of Engineer", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name)
    <input type="submit" value="Add Engineer" class="btn btn-outline-primary" />
  }
<br />
<p class="new"><a href='/engineers/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>
