@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

  <h2>Delete 
  <br />@Model.Name?
  </h2>
  @using(Html.BeginForm())
  {
    <input type="submit" value="Delete" class="btn btn-danger" />
  }
<hr />
<p class="new"><a href='/engineers/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>
