@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;

<h2>@Html.DisplayFor(selectedEngineer => selectedEngineer.Name)</h2>
<hr/>
<p><strong>Registered Machines</strong></p>

@if (Model.JoinEntities.Count == 0)
      {
        <p class="zero">* None registered</p>
        <p class="new"><a href='/engineers/register/@Model.EngineerId'>Register <span class="material-symbols-outlined">how_to_reg</span></a></p>

      }
else
{
  <ul>
    @foreach (MachineEngineer registered in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{registered.Machine.Name}", "Details", "Machines", new { id = registered.MachineId})</li>
    }
  </ul>
}

<p class="new"><a href='/engineers/delete/@Model.EngineerId'>Delete <span class="material-symbols-outlined">delete_forever</span></a></p>
<p class="new"><a href='/engineers/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>
