@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<br />
<h3>Edit @Model.Name?</h3>
<br />

@using (Html.BeginForm())
{
  @Html.HiddenFor(selectedEngineer => selectedEngineer.EngineerId)
  @Html.EditorFor(selectedEngineer => selectedEngineer.Name, new { htmlAttributes = new { @class = "form-control" } })
  <input type="submit" value="Save Changes" class="btn btn-outline-success" />
}