@{
  Layout = "_Layout";
}

@using Factory.Models;

@if (ViewBag.Engineers.Count == 0 && ViewBag.Machines.Count == 0)
{ 
  <br />
  <p>No Engineers or Machines available.</p>
  <br />
  <p class="new"><a href='/machines/create'>New Machine <span class="material-symbols-outlined">Add_circle</span></a></p>
  <p class="new"><a href='/engineers/create'>New Engineer <span class="material-symbols-outlined">Add_circle</span></a></p>

}
else
{
    @if (ViewBag.Engineers.Count > 0)
    {
      <h2>Engineers</h2>
      <hr />
        @foreach (Engineer added in ViewBag.Engineers)
        {
          <p>&rarr;	 @Html.ActionLink(added.Name, "Details", "Engineers", new { id = added.EngineerId })</p>
        }
    }
    @if (ViewBag.Machines.Count > 0)
    {
      <br />
      <h2>Machines</h2>
      <hr />
        @foreach (Machine added in ViewBag.Machines)
        {
          <p>&rarr;	 @Html.ActionLink(added.Name, "Details", "Machines", new { id = added.MachineId })</p>
        }
    }
}

