@{
  Layout = "_Layout";
}

@using Factory.Models;

<h2>Home</h2>

@if (ViewBag.Engineers.Count == 0 && ViewBag.Machines.Count == 0)
{
  <p>No Engineers or Machines available.</p>
}
else
{
    @if (ViewBag.Engineers.Count > 0)
    {
      <h4>Engineers</h4>
      <ul>
        @foreach (Engineer added in ViewBag.Engineers)
        {
          <li>@Html.ActionLink(added.Name, "Details", "Engineers", new { id = added.EngineerId })</li>
        }
      </ul>
    }
    @if (ViewBag.Machines.Count > 0)
    {
      <h4>Machines</h4>
      <ul>
        @foreach (Machine added in ViewBag.Machines)
        {
          <li>@Html.ActionLink(added.Name, "Details", "Machines", new { id = added.MachineId })</li>
        }
      </ul>
    }
}

