@{
  Layout = "_Layout";
}

@using Factory.Models;

@if (ViewBag.Engineers.Count == 0 && ViewBag.Machines.Count == 0)
{ 
  <br />
  <h5>Welcome to your Portal.</h5>
  <br />
  <br />
  <h6>Currently, there are no 
  <br /> Engineers or Machines
  <br /> in the portal.</h6>
  <br />
  <h6>Create a new 
  <br />
  @Html.ActionLink("Engineer", "Create", "Engineers") or @Html.ActionLink("Machine", "Create", "Machines") 
  <br />
  to update the Portal.</h6>
}
else
{
    @if (ViewBag.Engineers.Count > 0)
    {
      <h2>Engineers</h2>
      <hr />
        @foreach (Engineer added in ViewBag.Engineers)
        {
          <h5>&rarr;	 @Html.ActionLink(added.Name, "Details", "Engineers", new { id = added.EngineerId })</h5>
        }
    }
    @if (ViewBag.Machines.Count > 0)
    {
      <br />
      <h2>Machines</h2>
      <hr />
        @foreach (Machine added in ViewBag.Machines)
        {
          <h5>&rarr;	 @Html.ActionLink(added.Name, "Details", "Machines", new { id = added.MachineId })</h5>
        }
    }
}

