@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Factory</h1>
<hr/>

@if (@Model.Count == 0)
{
  <p>No Engineers available.</p>
}
else
{
  <div class="container">
  <h4>Engineers | Machines</h4>
    <ul>
      @foreach(MachineEngineer added in Model)
      {
        <li>@Html.ActionLink($"{added.Engineer.Name}", "Details", "Engineers", new { id = added.EngineerId }) | @Html.ActionLink($"{added.Machine.Name}", "Details", "Machines", new { id = added.MachineId })</li>
      }
  </ul>
  </div>
}